# GAEA
GAEA_API='https://api.aigaea.net'
# DELAY
SNAIL_UNIT=1800

# CAPTCHA
TWO_CAPTCHA_API_URL='https://api.2captcha.com'
TWO_CAPTCHA_API_KEY=''
CAPTCHA_KEY=''

# REGISTER
REFERRAL_CODE='gaKJUXBVLa08Ad'
# GODHOODID
REFERRAL_ADDRESS=''
# FUNDS POOLING
POOLING_ADDRESS=''

# CONTRACT
WEB3_RPC="https://mainnet.base.org"
WEB3_RPC_FIXED= 'https://base.drpc.org'
WEB3_CHAINID=8453

BNB_WEB3_RPC='https://bsc-rpc.publicnode.com'
BNB_CHAINID='56'
BNB_LNFTMINT='0xBe0c9b23551B7e74b303062aDF8005ce1a4196dF'
BNB_LNFTLOTTERY='0xe5dDf1C740E425C38E4411d2aC55F433Db4c294E'
